<h1 mat-dialog-title>Add Project</h1>
<div mat-dialog-content>
  
  <mat-form-field appearance="fill">
    <mat-label>Project Name</mat-label>
    <input matInput [(ngModel)]="data.name" required>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="onNoClick()">Cancle</button>
  <!-- <button mat-button (click)="onNoClick()">Cancle</button> -->
  <!-- <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial>Add</button> -->
  <button mat-raised-button (click)="AddClick(data.name)" cdkFocusInitial color="accent">Add</button>
</div>
