<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>List</span>
      <span class="example-spacer"></span>
      <span class="material-icons"
        (click)="openDialog()"
      >
        add
        </span>
      
    </mat-toolbar-row>
  </mat-toolbar>

  <app-loading *ngIf="isloading"></app-loading>

<div class="container">
  <div class="row">
    


    <div class="col-lg-12 mt-3">
      <mat-accordion>
        <mat-expansion-panel disabled *ngIf="Products.length === 0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span style="letter-spacing: 1px;font-weight: 500;">No data Found !!</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel disabled *ngFor="let product of Products">

          <mat-expansion-panel-header>

            <mat-panel-title>
              <span style="letter-spacing: 1px;font-weight: 500;">{{ product.ProductName }} -  Rs {{ product.ProductPrice }}</span>
            </mat-panel-title>

            <mat-panel-description>
              <span class="material-icons" (click)="DeleteModule(product.ProductID)">delete</span>
              <span class="material-icons" (click)="UpdateModule(product.ProductID)">edit</span>
            </mat-panel-description>

          </mat-expansion-panel-header> 

        </mat-expansion-panel>
      </mat-accordion>
    </div>
</div>