<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Register</span>
        <span class="example-spacer"></span>
        <span class="icon"
        (click)="Login()"
      >
        Login
        </span>
    </mat-toolbar-row>
</mat-toolbar>
<!--   
  <router-outlet></router-outlet> -->
<div class="container">
    <div class="row justify-content-center">

        <div class="col-lg-6 mt-3" style="background-color: white;padding: 10px;">
            <form [formGroup]="RegisterForm" (ngSubmit)="save()">
                    
                  <mat-form-field appearance="standard" [style.width]="'100%'">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="email" formControlName="UserEmail">
                  </mat-form-field>
                    
                  <mat-form-field appearance="standard" [style.width]="'100%'">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" type="password" formControlName="Password">
                  </mat-form-field>

                  <button type="submit" mat-raised-button color="accent" [disabled]="!RegisterForm.valid" [style.width]="'100%'">Register</button>
            </form>
            
        </div>
    </div>
</div>